body{
	background: url(bg.png) no-repeat;
	background-size: cover;
}
.rain{
	height: 98vh;
	background: url(rain.png);
	animation: rain 0.3s linear infinite;
}
.rain:before{
	content:"";
	position: absolute;
	width: 99%;

	height: 100%;
	background: #ffffff;
	opacity: 0;
	
}
.rain:hover:before{
	animation: light 0.8s linear infinite;
}
.rain:hover{
	animation: rain 0.2s linear infinite;
}
.robot img{
	width: 20%;
	position: absolute;
	top:301px;
	left: 20%;
}
.text{
	text-align: center;
	margin-left: 20%;
	padding-top: 5%;
	font-size: 35px;
}
.text h2{
	color: red;
	font-size: 97px;
	margin-bottom: 0px;
}
@keyframes rain{
	0%{
		background-position: 0% 0%;
	}
	100%{
		background-position: 20% 100%;
	}
}

@keyframes light{
	0%
	{
		opacity: 0;
	}
	10%
	{
		opacity: 0;
	}
	11%
	{
		opacity: 1;
	}
	14%
	{
		opacity: 0;
	}
	20%
	{
		opacity: 0;
	}
	21%
	{
		opacity: 1;
	}
	24%
	{
		opacity: 0;
	}
	104%
	{
		opacity: 0;
	}

}